body {
  background-color: #E1FFEE;
    margin: 0px;
    text-align: center;
    text-color
}


.First {
  background-color: #E1FFEE;
  padding-top: 50px;
  display: inline-block;
  width: 100%;
}

h1 {
  font-family: 'Josefin Slab', serif;
  line-height: 2;
}

.PK {
  font-size: 3rem;
  margin: 0 auto 0 auto;
  color: #371B58;
}

.Second{
  background-color: #E1FFEE;
  padding-top: 10px;
  padding-bottom: 10px;

}

input{
  border-radius: 5rem;
  font-size: 1.4rem;
}


form button:hover {
  background-color: black;
}


form button{
  color: ;
  background-color: white;
  border-radius: 7rem;
  font-size: 1.4rem;
}

hr {
  border-color: #16213E;
  border-width: medium;
  border-style: dotted;
  border-width: medium;
  border

}

label{
  font-size: 1.4rem;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
